@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




body{

    color: black;
background-color: beige;
margin: 0px;
font-family: "roboto mono", monospace
margin-bottom: 100px;





h1{

 color: blue;


}
font-size: 20px;